{% extends 'base.html' %}
{% block content %}
    <div class="container-shop">
        <a href="{{ url_for('user.shop_registration') }}" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">Add New Shop</a>
        <!-- <button type="button" id ="addRow" href="{{ url_for('user.login') }}">Add New Shop</button> -->
        <table id="shop" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for user in context %}
                    <tr>
                        <td>{{user.firstname}} {{user.lastname}}</td>
                        <td>{{user.email}}</td>
                        <td> <a href="{{url_for('user.shop_update',id=user.id)}}" id="update-{{user.id}}" class="btn btn-primary" role="button" aria-disabled="true" >Update</a> </td>
                        <td> <a id="delete-{{user.id}}" class="btn btn-primary" role="button" aria-disabled="true" method='Delete'>Delete</a> </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
{% block  javascript %}
    <script>
        $(document).ready(function () {
            $('#shop').DataTable();
        });
    </script>
    
    <script>
        
    </script>
{% endblock  %}