{% extends 'base.html' %}
{% block content %}
    <div class="container-shop">
        <button id="addRow" href="#">Add New Shop</button>
        <table id="shop" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for user in context %}
                    <tr>
                        <td>{{user.firstname}} {{user.lastname}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.approval}}</td>
                        <td>{{user.action}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block  javascript %}
    <script>
        $(document).ready(function () {
            $('#shop').DataTable();
        });
    </script>
{% endblock  %}